.navbar {
  background-color: #e0c10d;
}

ul {
  list-style-type: none;
  display: inline-flex;
  position: relative;
  left: -20px
}

li {
  text-align: left;
  margin-right: 15px;
}

ul li button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #610b65;
  text-decoration: underline;
  font-size: 15pt;
}

ul li button:hover {
  text-decoration: none;
}