.navbar {
  background-color: #e0c10d;
}

ul {
  list-style-type: none;
  display: inline-flex;
  position: relative;
  left: -20px
}

li {
  text-align: left;
  margin-right: 15px;
}

ul li button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #610b65;
  text-decoration: underline;
  font-weight: bold;
  font-size: 15pt;
}

ul li button:hover {
  text-decoration: none;
}

form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  width: fit-content;
  border: solid 3px #610b65;
  padding: 10px;
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border: 3px solid #610b65;
  background-color: #e0c10d;
  color: #610b65;
}

tr {
  display: flex;
  border: 3px solid #610b65;
}

input[type=checkbox] {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 17px;
  margin-right: 15px;
}

.delete {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 7px;
  height: 31px;
  width: 40px;
}

.taskSelection {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.unchecked {
  display: flex
}

.checked {
  display: flex
}

h2 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #610b65;
}

input[type=text] {
  width: 400px;
}

input[type=email] {
  width: 400px;
}

textarea {
  width: 400px;
  height: 200px;
}